@charset "utf-8";

html, body {
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size: 1rem;
}

.back-white {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 100vh;
}

#background-img {
  min-height: 100vh;
  background-image: url('../image/fence-19544_1920.jpg');
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.index-content, .center {
    width: 65%;
    padding: 1.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
}

.title {
    font-size: 4rem;
    color:#78c993;
    font-family: 'Alfa Slab One';
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.sub-title {
  color:#FFFFFF;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.index-content p {
  font-size: 1.5rem;
}

.links > a {
    color: #FFFFFF;
    padding: 0.5em 1em;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.back-green {
  background-color: #cef1da;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  top: 0px;
  left: 0px;
}

.container {
  width: 1200px;
}

.pickup {
  cursor: pointer;
}

/* margin */

.m-top-5vh {
  margin-top: 5vh;
}

.m-top-3rem {
  margin-top: 3rem
}

.m-b-md {
    margin-bottom: 30px;
}

.m-top-1rem {
  margin-top: 1rem;
}

.m-bottom-5vh {
  margin-bottom: 5vh;
}

.m-bottom-1rem {
  margin-bottom: 1rem;
}

/* padding */

.p-bottom-5vh {
  padding-bottom: 5vh;
}

/* accordion */

.accordion2 {
  text-align: center;
}

.accordion2 .inner {
  display: none;
}

/* header */
#header-area {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 10vh;
  opacity: 0.8;
}

#header-logo {
  font-size: 2rem;
  color: #78c993;
}

/* button */
.btn-square-raised, .btn-square-raised:hover {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #78c993;
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #636b6f;
  border-radius: 3px;
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
  cursor: pointer;
}

.btn-square-raised:active {
  /* push button */
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 3px #78c993;
}

.sign-botton {
  margin: 3vh 3vh;
}

.center-button {
  width: 100%;
  text-align: center;
}

.center-button a {
  width: 15rem;
}

/* content */


/* home card */

.card {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.29);
  margin-top: 8rem;
}

.card-body {
  overflow: hidden;
  padding: 0;
  min-height: 15rem;
}

/* side menu */
.card-aside-left {
  border: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
  width: 280px;
  min-width: 15rem;
  padding: 2rem 1rem;
  float: left;
  padding-bottom: 10000px;
  margin-bottom: -10000px;
}

.card-aside-left ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.card-aside-left li {
  padding-top: 1rem;
}

.card-aside-left li a {
  padding: 5px 0;
  background-color: #cef1da;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  color: #636b6f;
  display: block;
  text-decoration: none;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.card-aside-left li :hover {
  background-color: #78c993;
  color: #FFFFFF;
}

.card-aside-left li :active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

/* main menu */
.card-main {
  float: left;
  width: 800px;
  min-height: 500px;
  padding: 1rem;
  margin: 1vh 14px;
}

/* inquiry */
.inquiry-list {
  display: block;
  margin-top: 2rem;
  padding: 1.5rem;
  border: inset 8px #cef1da;
  border-radius: 5px;
}

.inquiry-list h4 {
  text-align: center;
  margin-top: 0.5rem;
}

.inquiry-list-table {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.inquiry-list-table tr :first-child {
  text-align: center;
  width: 25%;
}

.inquiry-list-table tr :last-child {
  text-align: center;
  width: 100%;
}

.inquiry-list-table tr {
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.inquiry-list-table th {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.29);

}

.inquiry-list-table td {
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.inquiry-table {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.inquiry-table th, .inquiry-table td {
  width: 60%;
  padding: 5px 10px;
}

.inquiry-table input {
  width: 20rem;
}

.inquiry-table input[type="text"], textarea {
  border: 1px solid #636b6f;
}

.inquiry-table textarea {
  width: 100%;
  resize: auto;
  max-width: 100%;
  min-width: 20rem;
  max-height: 25rem;
  min-height: 200px;
}

.inquiry-submit {
  width: 100%;
  text-align: center;
}

.inquiry-submit input {
  width: 15rem;
}

.inquiry-conf-area {
  margin-right: 8%;
}

.inquiry-conf {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.29);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.inquiry-conf tr {
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.inquiry-conf th {
  text-align: center;
  width: 25%;
  border: 1px solid rgba(0, 0, 0, 0.29);

}

.inquiry-conf td {
  width: 75%;
  border: 1px solid rgba(0, 0, 0, 0.29);
}

.inquiry-submit-area {
  width: 90%;
}

#footer {
  z-index: 9999;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  min-height: 5vh;
  opacity: 0.8;
}
