@charset "utf-8";

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size: 1rem;
}

main {
  min-height: 95vh;
  margin-top: 5vh;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.index-content {
    text-align: center;
}

.title {
    font-size: 4.5rem;
    color:#78c993;
    font-family: 'Alfa Slab One';
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.29);
}

.index-content p {
  font-size: 1.5rem;
}

.links > a {
    color: #FFFFFF;
    padding: 0 25px;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.back-green {
  background-color: #cef1da;
}

/* header */
#header-area {
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 5vh;
}

#header-logo {
  font-size: 1.5rem;
  color: #78c993;
}

/* Sign up & Sign In ボタン */
.btn-square-raised {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #78c993;/*ボタン色*/
  color: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  border-bottom: solid 3px #636b6f;
  border-radius: 3px;/*角の丸み*/
  font-weight: bold;
  text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
}

.btn-square-raised:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-bottom: none;
}

.sign-botton {
  margin: 3vh 3vh;
}
